{% macro render_item(item, show_amount=False, show_form=False) %}
<div class="item-card">
    <div class="item-main">
        <div class="item-title">{{ item['prod_name'] }}</div>
        <div class="item-meta">
            {% if show_amount %}{{ item['amount'] }}{% endif %}
        </div>
    </div>

    <div class="item-side">
        <div class="item-price">{{ item['prod_price'] }} руб.</div>
        {% if show_form %}
        <form action="{{ url_for('bp_basket.add_to_basket', prod_id=item['prod_id']) }}" method="POST">
            <input type="hidden" name="prod_id" value="{{ item['prod_id'] }}">
            <input type="submit" value="В корзину">
        </form>
        {% endif %}
    </div>
</div>
{% endmacro %}
