{% extends "base.html" %}
{% import 'basket_utils.html' as utils %}

{% block title %}Корзина{% endblock %}
{% block header %}SUPERMARKET - Корзина{% endblock %}

{% block content %}
    <h2>Ваша корзина</h2>
    <div class="basket-box">
        {% if basket %}
            <div class="item-list">
                {% for prod_id, prod_data in basket.items() %}
                    {{ utils.render_item(prod_data, show_amount=True) }}
                {% endfor %}
            </div>

            <div class="basket-summary">
                {{ "%.2f"|format(total_price) }} руб.
            </div>

            <form method="get" class="basket-actions">
                <input type="submit" value="Оформить заказ"
                    formaction="{{ url_for('bp_basket.save_order') }}">
                <input type="submit" value="Очистить корзину"
                    formaction="{{ url_for('bp_basket.clear_basket') }}"
                    class="btn-danger">
            </form>
        {% else %}
            <p class="center">Ваша корзина пуста</p>
        {% endif %}
    </div>

    <h2>Товары для покупки</h2>
    {% if items %}
        <div class="item-list">
        {% for item in items %}
            {{ utils.render_item(item, show_form=True) }}
        {% endfor %}
        </div>
    {% else %}
        <p class="center">Нет доступных товаров</p>
    {% endif %}
{% endblock %}

{% block navigation %}
    {% if basket %}
    <a href="{{ url_for('bp_basket.clear_basket') }}" class="back-link exit-link">Очистить корзину</a>
    <br>
    {% endif %}
    <a href="{{ url_for('main_menu') }}" class="back-link">На главную</a>
{% endblock %}
