{% extends "base.html" %}

{% block title %}Форма ввода{% endblock %}
{% block header %}SUPERMARKET - Ввод параметров{% endblock %}

{% block content %}
    <form action="{{ url_for('bp_query.execute_query') }}" method="post">
        <div class="form-group">
            <label for="prod_category">Категория:</label>
            <input type="text" name="prod_category" id="prod_category">
        </div>

        <div class="form-group">
            <input type="submit" value="Найти">
        </div>
    </form>
{% endblock %}
